.CourseFiles-title {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.CourseFiles-content {
  text-align: center;
  font-size: large;
}

.CourseFiles-file {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.CourseFiles-checkbox {
  padding-right: 10px;
}
