.card-style-home {
  padding: 0.5em;
  background-color: rgb(235, 235, 235);
  max-width: 12em;
  border: 0px;
  justify-content: center;
  padding: 15px;
  box-shadow: inset 0 0 0 7px white;
}

.subtitle-home {
  font-weight: bold;
  margin-left: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.div-home {
  display: grid;
  justify-content: center;
}
