.card-style-home {
  padding: 0.5em;
  background-color: rgb(235, 235, 235);
  max-width: 12em;
  border: 0px;
  justify-content: center;
}

.subtitle-home {
  font-weight: bold;
  margin-left: 0.5em;
  margin-top: 0.5em;
  text-align: center;
}

.div-home {
  display: flexbox;
  justify-content: center;
  align-items: center;
}
