.left-sidebar {
  padding-left: 3px;
  padding-top: 5px;
  border-right: gray;
  border-style: solid;
  border-width: thin;
  width: 200px;
  max-width: 200px;
  height: 100%;
  max-height: 100%;
}
.category-left-sidebar {
  display: grid;
  grid-template-columns: 20% 80%;
  cursor: pointer;
}

.course-link-sidebar {
  cursor: pointer;
}

.title-left-sidebar {
  font-weight: bold;
}

.square {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.general {
  background: blue;
}

.lectures {
  background: green;
}

.quizzes {
  background: red;
}
